<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li v-if="getAuthUser" class="nav-item active">
                        <a  class="nav-link" @click="logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  methods: {
    ...mapActions(['logout']),
    logout() {
      this.$store.commit('removeAuthUser',null)
      this.$store.commit('setToken',null)
      this.$router.push({
        name: 'Login'
      })

    }
  },
 computed: {
   ...mapGetters(['getAuthUser'])
 }
}
</script>
