<template>
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Library</h3>
    </div>

    <ul class="list-unstyled components">
        <p v-if="getAuthUser === null">Sign in</p>
        <p v-else>{{getAuthUser}}</p>

        <li v-if="getAuthUser !==null">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Catalogs</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <router-link class="nav-link" to="/categories">Categories</router-link>
                </li>

            </ul>
        </li>
        <li v-if="getAuthUser !==null">
            <router-link to="/users">Users</router-link>
        </li>
        <li v-if="getAuthUser !==null">
            <router-link to="/clients">Clients</router-link>
        </li>
        <li v-if="getAuthUser !==null">
            <router-link to="/books">Books</router-link>
        </li>

    </ul>
</nav>
</template>

<script>
import {
    mapGetters
} from 'vuex'
export default {
    data() {
        return {
            user: null

        }
    },
    computed: {
        ...mapGetters(['getAuthUser'])

    }
}
</script>
