<template>
    <div>
        <formUser></formUser>
    </div>
</template>

<script>
import formUser from '@/components/users/form'
export default {
    components: {
        formUser
    }
}
</script>