<template>
  <div class="card">
    <notifications group="error" classes="vue-notification error"/>
    <notifications group="success" classes="vue-notification success"/>

    <div class="card-title">
      Login
    </div>
    <div class="card-body">
      <form @submit.prevent="login">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" v-model="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" v-model="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
name: "login",
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: mapGetters(['getAuthUser']),

  methods: {
    async login() {
      try {
        const response = await axios.post('http://localhost:8000/api/login', {
          email: this.email,
          password: this.password
        })
        if (response.status === 200) {


          localStorage.setItem('token', response.data.access_token)
          const userResponse = await axios.get('http://localhost:8000/api/user', {
            headers: {Authorization: `Bearer ${localStorage.getItem('token')}`}
          })

          if (userResponse.status === 200) {
            this.$notify({
              group: 'success',
              title: 'Successfully created',
              text: 'success',
              width: '200px',
            });
            localStorage.setItem('user', userResponse.data.name)
            this.$store.commit('setAuthUser', userResponse.data.name)
            setTimeout(()=> {
              this.$router.push({
                name: 'UserIndex'
              })
            },2000)


          }
        }
      } catch (error) {
        if(error.response.status === 401) {
          this.$notify({
            group: 'error',
            title: error.response.data.message,
            text: 'Solve it',
            width: '200px',
          });
        } else {
          for (var property in error.response.data) {
            console.log(error.response)

            error.response.data[property].forEach((element) => {
              console.log(element)
              this.$notify({
                group: 'error',
                title: element,
                text: 'Solve it',
                width: '200px',
              });
            })
          }
        }

      }
    }
  }
}
</script>

<style scoped>

</style>