<template>
<div id="app">
    <div class="wrapper">
        <sidebar></sidebar>
        <div id="content">
            <navbar></navbar>
            <router-view />
        </div>
    </div>
</div>
</template>

<script>
import sidebar from '@/components/includes/sidebar'
import navbar from '@/components/includes/navbar'
export default {
    components: {
        sidebar,
        navbar
    },
    mounted() {
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            var el = document.getElementById('sidebar');
            el.classList.toggle('active');
        });

    },
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}
</style>
