<template>
<div>

    <div class="container">
        <notifications group="error" classes="vue-notification error" />
        <notifications group="success" classes="vue-notification success" />
        <h1 class="mb-auto">Add Client</h1>
        <form @submit.prevent="create">
            <div class="form-group">
                <label for="name">Name</label>
                <input v-model="name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input v-model="age" type="number" class="form-control" id="age">
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input type="file" class="form-control" id="avatar" @change="selectedFile">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            name: '',
            age: '',
            avatar: '',
        }
    },
    methods: {
        selectedFile(event) {
            this.avatar = event.target.files[0]
        },
        async create() {
            try {
                const fd = new FormData()

                fd.append('name', this.name)
                fd.append('age', this.age)
                fd.append('avatar', this.avatar)

                const response = await axios.post('http://localhost:8000/api/clients', fd)

                if (response.status == 200) {
                    this.$notify({
                        group: 'success',
                        title: 'Successfully created',
                        text: 'success',
                        width: '200px',
                    });
                    setTimeout(() => {
                        this.$router.push({
                            name: 'ClientIndex'
                        })
                    }, 2000)
                }
            } catch (error) {
                for (var property in error.response.data) {
                    error.response.data[property].forEach((element) => {
                        this.$notify({
                            group: 'error',
                            title: element,
                            text: 'Solve it',
                            width: '200px',
                        });
                    })
                }
            }

        }
    },
}
</script>
