<template>
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete-client" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-delete-client">Delete Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col s12" @submit.prevent="deleteClientModal">
                    <div class="row">
                        <h1>Delete ?</h1>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-delete" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" @click="deleteClientModal">Delete</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
export default {
    methods: {
        ...mapActions(['deleteClient']),
        deleteClientModal() {
            this.deleteClient(this.getClient.id)
          setTimeout(()=> {
            this.eventFire(document.getElementById('close-delete'), 'click');
          },2000)
        },
      eventFire(el, etype){
        if (el.fireEvent) {
          el.fireEvent('on' + etype);
        } else {
          var evObj = document.createEvent('Events');
          evObj.initEvent(etype, true, false);
          el.dispatchEvent(evObj);
        }
      }

    },
    computed: {
        ...mapGetters(['getClient'])
    },

}
</script>
