<template>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal-client" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-client">Update Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="update">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="getClient.name" type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input v-model="getClient.age" type="number" class="form-control" id="age" required>
                    </div>
                    <div class="form-group">
                        <img v-show="getClient.avatar != null" class="img-thumbnail" :src="'http://localhost:8000/'+getClient.avatar" alt="">
                        <label for="avatar">Avatar</label>
                        <input type="file" class="form-control" id="avatar" @change="selectedFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="update">Update changes</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
export default {
    data() {
        return {
            name: '',
            age: '',
            avatar: ''
        }
    },
    methods: {
        ...mapActions(['updateClient']),

        selectedFile(event) {
            this.avatar = event.target.files[0]
        },
        update() {
            this.name = this.getClient.name
            this.age = this.getClient.age

            let client = {
                id: this.getClient.id,
                name: this.name,
                age: this.age,
                avatar: this.avatar,
            }

            this.updateClient(client)

          setTimeout(()=> {
            this.eventFire(document.getElementById('close'), 'click');
          },2000)

        },
      eventFire(el, etype){
        if (el.fireEvent) {
          el.fireEvent('on' + etype);
        } else {
          var evObj = document.createEvent('Events');
          evObj.initEvent(etype, true, false);
          el.dispatchEvent(evObj);
        }
      }

    },
    computed: {
        ...mapGetters(['getClient'])
    },

}
</script>
