<template>
<div class="row">
    <h1 class="left-align">Clients-List</h1>

    <p class="ml-5">
        <router-link to="/clients/create" class="btn btn-primary">Add</router-link>
    </p>
</div>
</template>

<script>
export default {

}
</script>
