<template>
<div class="container">
    <notifications group="error" classes="vue-notification error" />
    <notifications group="success" classes="vue-notification success" />

    <h1 class="mb-auto">Add Category</h1>
    <form @submit.prevent="create">
        <div class="form-group">
            <label for="name">Name</label>
            <input v-model="name" type="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input v-model="description" type="description" class="form-control" id="description">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            name: '',
            description: '',
        }
    },
    methods: {
        async create() {
            const fd = new FormData()

            fd.append('name', this.name)
            fd.append('description', this.description)
            try {
                const response = await axios.post('http://localhost:8000/api/categories', fd)
                if (response.status == 200) {
                    this.$notify({
                        group: 'success',
                        title: 'Successfully created',
                        text: 'success',
                        width: '200px',
                    });
                    setTimeout(() => {
                        this.$router.push({
                            name: 'CategoryIndex'
                        })
                    }, 2000)

                }
            } catch (error) {
                for (var property in error.response.data) {
                    error.response.data[property].forEach((element) => {
                        this.$notify({
                            group: 'error',
                            title: element,
                            text: 'Solve it',
                            width: '200px',
                        });
                    })
                }
            }

        }
    },
}
</script>
