<template>
<div class="container">
    <Title></Title>
    <div class="divider"></div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="category of allCategories" :key="category.id">
                    <td>{{category.id}}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm mr-1" data-toggle="modal" data-target="#modal1" @click="update(category)">edit</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" @click="deleteCategory(category)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="container">
            <button class="btn btn-primary" v-if="page != 1" @click="prevPage">Previous</button>
            <a class="btn btn-primary" v-if="page < lastPage" @click="nextPage">Next</a>
        </div>
    </div>

    <Modal></Modal>
    <ModalDelete></ModalDelete>

</div>
</template>

<script>
import axios from 'axios'
import Title from '@/components/categories/title'
import Modal from '@/components/categories/modal'
import ModalDelete from '@/components/categories/modal-delete'

import {
    mapActions,
    mapGetters
} from "vuex";
export default {
    data() {
        return {
            categories: [],
            category: null,
            page: '',
            perPage: '',
            lastPage: '',
            pages: [],
            next: '',
            prev: '',
            url: 'http://localhost:8000/api/categories'

        }
    },
    components: {
        Title,
        Modal,
        ModalDelete
    },
    methods: {
        ...mapActions(["fetchCategory", "fetchCategories"]),
        async getCategories() {

            let response = await axios.get(this.url)
            this.page = response.data.data.current_page
            this.perPage = response.data.data.per_page
            this.lastPage = response.data.data.last_page
            this.next = response.data.data.next_page_url
            this.prev = response.data.data.prev_page_url
            this.categories = response.data.data.data

            this.fetchCategories(this.categories)

        },
        nextPage() {
            this.url = this.next
            this.getCategories()
        },
        prevPage() {
            this.url = this.prev
            this.getCategories()
        },
        update(category) {
            this.fetchCategory(category)
            this.category = this.getCategory

        },
        deleteCategory(category) {
            this.fetchCategory(category)
            this.category = this.getCategory
        }
    },
    computed: {
        ...mapGetters(['getCategory', 'allCategories'])

    },
    created() {
        this.getCategories()
    }
}
</script>
