<template>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="getCategory.name" type="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input v-model="getCategory.description" type="description" class="form-control" id="description" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="update">Update changes</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
export default {
    data() {
        return {
            name: '',
            description: '',

        }
    },
    methods: {
        ...mapActions(['updateCategory']),
        update() {
            this.name = this.getCategory.name
            this.description = this.getCategory.description

            let category = {
                id: this.getCategory.id,
                name: this.name,
                description: this.description,
            }

            this.updateCategory(category)
          setTimeout(()=> {
            this.eventFire(document.getElementById('close'), 'click');
          },2000)

        },
      eventFire(el, etype){
        if (el.fireEvent) {
          el.fireEvent('on' + etype);
        } else {
          var evObj = document.createEvent('Events');
          evObj.initEvent(etype, true, false);
          el.dispatchEvent(evObj);
        }
      }

    },
    computed: {
        ...mapGetters(['getCategory'])
    },

}
</script>
