<template>
<div>
    <formCategory></formCategory>
</div>
</template>

<script>
import formCategory from '@/components/categories/form'
export default {
    components: {
        formCategory
    }
}
</script>
