<template>
  <div class="modal fade" id="borrowed" tabindex="-1" aria-labelledby="modal-borrowed" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-borrowed">Borrow Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <autocomplete :items="this.clients"
                filterby="name"
                title="Look for a customer"
                @selected="customerSelected"
            ></autocomplete>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-modal-borrowed" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="borrowed" >borrrowed book</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import axios from 'axios'
import autocomplete from "@/components/books/autocomplete";
import {mapGetters ,mapActions} from "vuex";
export default {
  name: "borrowed-modal",
  data() {
    return {
      clients: [],
      client: ''
    }
  },
  methods: {
    ...mapActions(['borrowedBook']),
   customerSelected(client) {
     this.client = client
    },
    async borrowed () {
      this.getBook.client_id = this.client.id
        this.borrowedBook(this.getBook)
      setTimeout(()=> {
        this.eventFire(document.getElementById('close-modal-borrowed'), 'click');
      },1500)
    },
    eventFire(el, etype){
      if (el.fireEvent) {
        el.fireEvent('on' + etype);
      } else {
        var evObj = document.createEvent('Events');
        evObj.initEvent(etype, true, false);
        el.dispatchEvent(evObj);
      }
    }
  },
  computed: {
    ...mapGetters(['getBook'])
  },
  components: {
    autocomplete
  },
  async mounted() {
    const response = await axios.get('http://localhost:8000/api/clients')
    this.clients = response.data.data.data
  }


}
</script>
