<template>
<div>
    <form @submit.prevent="search">
        <div class="form-group row">
            <label for="value" class="col-form-label">By Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="value" v-model="value">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
</template>

<script>
import axios from 'axios'
export default {

    data() {
        return {
            value: ''
        }
    },
    methods: {
        async search() {
            const response = await axios.get(`http://localhost:8000/api/books/search/${this.value}`)
        }
    }
}
</script>

<style scoped>

</style>
