<template>
<div>
    <notifications group="error" classes="vue-notification error" />
    <notifications group="success" classes="vue-notification success" />
    <h1 class="mb-auto">Add Book</h1>
    <autocomplete :items="categories" filterby="name" title="Look for a category" @selected="customerSelected" class="mb-5"></autocomplete>
    <form @submit.prevent="create">
        <div class="form-group">
            <label for="name">Name</label>
            <input v-model="name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input v-model="author" type="text" class="form-control" id="author">
        </div>
        <div class="form-group">
            <label for="published_date">Published Date</label>
            <input v-model="published_date" type="date" class="form-control" id="published_date">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
</template>

<script>
import axios from 'axios'
import autocomplete from "@/components/books/autocomplete";
export default {
    data() {
        return {
            name: '',
            author: '',
            published_date: '',
            category: '',
            categories: [],
        }
    },
    components: {
        autocomplete
    },
    methods: {
        customerSelected(category) {
            this.category = category
        },
        async create() {
            try {
                const fd = new FormData()

                fd.append('name', this.name)
                fd.append('author', this.author)
                fd.append('published_date', this.published_date)
                fd.append('category_id', this.category.id)

                const response = await axios.post('http://localhost:8000/api/books', fd)

                if (response.status == 200) {
                    this.$notify({
                        group: 'success',
                        title: 'Successfully created',
                        text: 'success',
                        width: '200px',
                    });
                    setTimeout(() => {
                        this.$router.push({
                            name: 'BookIndex'
                        })
                    }, 2000)

                }

            } catch (error) {
                for (var property in error.response.data) {
                    error.response.data[property].forEach((element) => {
                        this.$notify({
                            group: 'error',
                            title: element,
                            text: 'Solve it',
                            width: '200px',
                        });
                    })
                }
            }

        }
    },
    async mounted() {
        const response = await axios.get('http://localhost:8000/api/categories')
        this.categories = response.data.data.data

    },
}
</script>
