<template>
<div class="container">
    <Title></Title>
    <div class="divider"></div>

    <form @submit.prevent="search">
        <div class="form-group row">
            <label for="value" class="col-form-label">By Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="value" v-model="value">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary mr-1">Search</button>
                <button class="btn btn-primary" @click.prevent="refresh">Refresh</button>
            </div>
        </div>
    </form>

    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>author</th>
                    <th>Published Date</th>
                    <th>Category</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="book of allBooks" :key="book.id">
                    <td>{{book.id}}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.published_date }}</td>
                    <td>{{ book.category ?  book.category.name : 'Removed'  }}</td>
                    <td>{{ book.client ?  book.client.name : 'Does not have'  }}</td>
                    <td>{{ book.client ?  'Borrowed' : 'Available'  }}</td>

                    <td>
                        <button type="button" class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#borrowed" @click="borrowed(book)">borrowed</button>
                        <button v-if="book.client" type="button" class="btn btn-info btn-sm mr-1" data-toggle="modal" data-target="#giveBack" @click="giveBack(book)">give back</button>
                        <button type="button" class="btn btn-warning btn-sm mr-1" data-toggle="modal" data-target="#modal1" @click="update(book)">edit</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" @click="deleteBook(book)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="container">
            <a class="btn btn-primary" v-if="page != 1" @click="prevPage">Previous</a>
            <a class="btn btn-primary" v-if="page < lastPage " @click="nextPage">Next</a>
        </div>
    </div>

    <Modal></Modal>
    <ModalDelete></ModalDelete>
    <Borrowed></Borrowed>
    <GiveBack></GiveBack>

</div>
</template>

<script>
import axios from 'axios'
import Title from '@/components/books/title'
import Modal from '@/components/books/modal'
import ModalDelete from '@/components/books/modal-delete'
import Borrowed from '@/components/books/borrowed-modal'
import GiveBack from '@/components/books/modal-give-back'

import {
    mapActions,
    mapGetters
} from "vuex";
export default {
    data() {
        return {
            books: [],
            book: null,
            page: '',
            perPage: '',
            lastPage: '',
            pages: [],
            next: '',
            prev: '',
            url: 'http://localhost:8000/api/books',
            value: ''

        }
    },
    components: {
        Title,
        Modal,
        ModalDelete,
        Borrowed,
        GiveBack,

    },
    methods: {
        ...mapActions(["fetchBook", "fetchBooks"]),

        async getBooks() {

            let response = await axios.get(this.url)
            this.page = response.data.data.current_page
            this.perPage = response.data.data.per_page
            this.lastPage = response.data.data.last_page
            this.next = response.data.data.next_page_url
            this.prev = response.data.data.prev_page_url
            this.books = response.data.data.data
            this.fetchBooks(this.books)

        },

        nextPage() {
            this.url = this.next
            this.getBooks()
        },
        prevPage() {
            this.url = this.prev
            this.getBooks()
        },
        update(book) {
            this.fetchBook(book)
            this.book = this.getBook

        },
        deleteBook(book) {
            this.fetchBook(book)
            this.book = this.getBook
        },
        borrowed(book) {
            this.fetchBook(book)
        },
        giveBack(book) {
            this.fetchBook(book)
        },
        async search() {
            const response = await axios.get(`http://localhost:8000/api/books/search/${this.value}`)
            this.page = response.data.data.current_page
            this.perPage = response.data.data.per_page
            this.lastPage = response.data.data.last_page
            this.next = response.data.data.next_page_url
            this.prev = response.data.data.prev_page_url
            this.books = response.data.data.data
            this.fetchBooks(this.books)
        },
        async refresh() {
            this.value = null
            let response = await axios.get('http://localhost:8000/api/books')
            this.page = response.data.data.current_page
            this.perPage = response.data.data.per_page
            this.lastPage = response.data.data.last_page
            this.next = response.data.data.next_page_url
            this.prev = response.data.data.prev_page_url
            this.books = response.data.data.data
            this.fetchBooks(this.books)
        }
    },
    computed: {
        ...mapGetters(['getBook', 'allBooks'])

    },
    mounted() {
        this.getBooks()
    }
}
</script>

<style lang="css" scoped>
.card-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
}
</style>
