<template>
  <div class="modal fade" id="giveBack" tabindex="-1" aria-labelledby="modal-give" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-give">Return Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Return the book ?</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-modal-return" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="returnBook" >Return book</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {mapGetters ,mapActions} from "vuex";

export default {
name: "modal-give-back",
  methods: {
  ...mapActions(['giveBackBook']),
    async returnBook() {
      this.giveBackBook(this.getBook)
      setTimeout(()=> {
        this.eventFire(document.getElementById('close-modal-return'), 'click');
      },1500)
    },
    eventFire(el, etype){
      if (el.fireEvent) {
        el.fireEvent('on' + etype);
      } else {
        var evObj = document.createEvent('Events');
        evObj.initEvent(etype, true, false);
        el.dispatchEvent(evObj);
      }
    }
  },
  computed: {
    ...mapGetters(['getBook'])

  },
}
</script>

<style scoped>

</style>