<template>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit">Update Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="update">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="getBook.name" type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input v-model="getBook.author" type="text" class="form-control" id="author" required>
                    </div>
                    <div class="form-group">
                        <label for="published_date">Published Date</label>
                        <input v-model="getBook.published_date" type="date" class="form-control" id="published_date" required>
                    </div>
                    <div class="form-group">
                        <label for="categories">Categories</label>
                        <select v-model="getBook.category_id" class="form-control" id="categories">
                            <option disabled selected>Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="update">Update changes</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
import axios from 'axios'
export default {
    data() {
        return {
            name: '',
            author: '',
            published_date: '',
            category: ''

        }
    },
    methods: {
        ...mapActions(['updateBook']),
        update() {
            this.name = this.getBook.name
            this.author = this.getBook.author
            this.published_date = this.getBook.published_date
            this.category = this.getBook.category_id

            let book = {
                id: this.getBook.id,
                name: this.name,
                author: this.author,
                published_date: this.published_date,
                category_id: this.category

            }

            this.updateBook(book)
            setTimeout(()=> {
              this.eventFire(document.getElementById('close'), 'click');
            },1500)

        },
      eventFire(el, etype){
        if (el.fireEvent) {
          el.fireEvent('on' + etype);
        } else {
          var evObj = document.createEvent('Events');
          evObj.initEvent(etype, true, false);
          el.dispatchEvent(evObj);
        }
      }
    },
    computed: {
        ...mapGetters(['getBook'])
    },
    async mounted() {

        const response = await axios.get('http://localhost:8000/api/categories')
        var categories = response.data.data.data
        var select = document.getElementById('categories');
        categories.forEach((element) => {
            select.options[select.options.length] = new Option(element.name, element.id);
        })
    },

}
</script>
