<template>
<div>

    <div class="container">
      <notifications group="error" classes="vue-notification error"/>
      <notifications group="success" classes="vue-notification success"/>
      <h1 class="mb-5">Create Users</h1>
        <form @submit.prevent="create">
            <div class="form-group">
                <label for="name">Name</label>
                <input v-model="name" type="name" class="form-control" id="name" >
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input type="file" class="form-control" id="avatar" @change="selectedFile">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input v-model="email" type="email" class="form-control" id="email" >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input v-model="password" type="password" class="form-control" id="password" >
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </form>
    </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            name: '',
            email: '',
            password: '',
            avatar: '',
        }
    },
    methods: {
        selectedFile(event) {
            this.avatar = event.target.files[0]
        },
        async create() {
            const fd = new FormData()

            fd.append('name', this.name)
            fd.append('email', this.email)
            fd.append('password', this.password)
            fd.append('avatar', this.avatar)
            try {
              const response = await axios.post('http://localhost:8000/api/users', fd)
              if (response.status == 200) {
                this.$notify({
                  group: 'success',
                  title: 'Successfully created',
                  text: 'success',
                  width: '200px',
                });
                setTimeout(()=> {
                  this.$router.push({
                    name: 'UserIndex'
                  })
                },2000)

              }
            } catch (error) {
              for (var property in error.response.data) {
                error.response.data[property].forEach((element)=>{
                  console.log(element)
                  this.$notify({
                    group: 'error',
                    title: element,
                    text: 'Solve it',
                    width: '200px',
                  });
                })
              }
            }

        }
    },
}
</script>
