<template>
<div class="container">
    <Title></Title>
    <div class="divider"></div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="user of allUsers" :key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><img v-if="user.avatar" :src="'http://localhost:8000/'+user.avatar" alt="" class="card-image"></td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm mr-1" data-toggle="modal" data-target="#modal1" @click="update(user)">edit</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" @click="deleteUser(user)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="container">
            <a class="btn btn-primary" v-if="page != 1" @click="prevPage">Previous</a>
            <a class="btn btn-primary" v-if="page < lastPage " @click="nextPage">Next</a>
        </div>
    </div>

    <Modal></Modal>
    <ModalDelete></ModalDelete>

</div>
</template>

<script>
import axios from 'axios'
import Title from '@/components/users/title'
import Modal from '@/components/users/modal'
import ModalDelete from '@/components/users/modal-delete'

import {
    mapActions,
    mapGetters
} from "vuex";
export default {
    data() {
        return {
            users: [],
            user: null,
            page: '',
            perPage: '',
            lastPage: '',
            pages: [],
            next: '',
            prev: '',
            url: 'http://localhost:8000/api/users'

        }
    },
    components: {
        Title,
        Modal,
        ModalDelete
    },
    methods: {
        ...mapActions(["fetchUser", "fetchUsers"]),
        async getUsers() {

            let response = await axios.get(this.url)

            this.page = response.data.data.current_page
            this.perPage = response.data.data.per_page
            this.lastPage = response.data.data.last_page
            this.next = response.data.data.next_page_url
            this.prev = response.data.data.prev_page_url
            this.users = response.data.data.data

            this.fetchUsers(this.users)

        },
        nextPage() {
            this.url = this.next
            this.getUsers()
        },
        prevPage() {
            this.url = this.prev
            this.getUsers()
        },
        update(user) {
            this.fetchUser(user)
            this.user = this.getUser

        },
        deleteUser(user) {
            this.fetchUser(user)
            //this.user = this.getUser
        }
    },
    computed: {
        ...mapGetters(['getUser', 'allUsers'])

    },
    mounted() {
        this.getUsers()
    }
}
</script>

<style lang="css" scoped>
.card-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
}
</style>
