<template>
  <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete-user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-delete-user">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col s12" @submit.prevent="deleteUserModal">
                    <div class="row">
                        <h1>Delete ?</h1>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-delete-user" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" @click="deleteUserModal">Delete</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {mapGetters , mapActions} from 'vuex'
export default {
    methods: {
        ...mapActions(['deleteUser']),
        deleteUserModal() {
          console.log(this.getUser)
          this.deleteUser(this.getUser.id)
          setTimeout(()=> {
            this.eventFire(document.getElementById('close-delete-user'), 'click');
          },2000)

        },
      eventFire(el, etype){

        if (el.fireEvent) {
          console.log('here')
          el.fireEvent('on' + etype);
        } else {
          var evObj = document.createEvent('Events');
          evObj.initEvent(etype, true, false);
          el.dispatchEvent(evObj);
        }
      }
    },
    computed: {
        ...mapGetters(['getUser'])
    },
    
}
</script>