<template>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal-update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-update">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="update" id="form-user">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="getUser.name" type="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <img v-show="getUser.avatar != null" class="img-thumbnail" :src="'http://localhost:8000/'+getUser.avatar" alt="">
                        <label for="avatar">Avatar</label>
                        <input type="file" class="form-control" id="avatar" @change="selectedFile" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input v-model="getUser.email" type="text" class="form-control" id="email" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="update">Update changes</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
export default {
    data() {
        return {
            name: '',
            email: '',
            avatar: ''
        }
    },
    methods: {
        ...mapActions(['updateUser']),

        selectedFile(event) {
            this.avatar = event.target.files[0]
        },
        update() {
            this.name = this.getUser.name
            this.email = this.getUser.email
            this.password = this.getUser.password

            let user = {
                id: this.getUser.id,
                name: this.name,
                email: this.email,
                avatar: this.avatar,
            }

            this.updateUser(user)

          setTimeout(()=> {
            this.eventFire(document.getElementById('close'), 'click');
            },2000)

        },
       eventFire(el, etype){
          if (el.fireEvent) {
            el.fireEvent('on' + etype);
          } else {
            var evObj = document.createEvent('Events');
            evObj.initEvent(etype, true, false);
            el.dispatchEvent(evObj);
          }
        }
    },
    computed: {
        ...mapGetters(['getUser'])
    },

}
</script>
