<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Juan Pablo Morales Rodriguez,<br>
      This was made with heart
      <a href="https://gitlab.com/jmorales7/books-test" target="_blank" rel="noopener">repository</a>.
    </p>
    <h3>Sign In</h3>
    <ul>
      <li>
        <router-link to="/login">GO</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
